.cover {
    width: 1184px;
    height: auto;
    display: flex;
    background-image: url(../vendor/images/background.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    margin-top: 10%;
}

.cover__overlay {
    height: auto;
    width: 100vw;
    background-color: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 0.3s ease;
  }
  
  .cover__title {
    color: #fffdfd;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px; /* 105.556% */
    margin-bottom: 36px;
  }
  
  .cover__subtitle {
    width: 280px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-bottom: 32px;
  }

  .cover__paragraph {
    margin: 7px;
  }
  
  .cover__button {
    padding: 13px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0278fe;
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  
  .cover__button:hover {
    background: #0063d2;
  }

  .cover__button-paragraph {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
  }

  @media screen and (max-width: 320px) {
    .cover {
      background-size: contain;
      height: 254px;
      margin: 0;
    }

    .cover__overlay{ 
      width: 99vw;
      height: 254px;
      margin: 0;
      justify-content: space-evenly;
    }

    .cover__title {
      width: 288px;
      height: auto;
      font-family: Inter;
      font-size: 32px;
      font-weight: 900;
      line-height: 35px;
      margin: 0;
    }

    .cover__subtitle {
      width: 280px;
      height: 48px;
      margin: 0;
      font-size: 16px;
      line-height: 14px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    .cover {
      margin: 0;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 768px) {
    .cover {
      margin: 0;
    }
  
    .cover__title {
      font-size: 32px;
      line-height: 109.375%;
      margin-bottom: 16px;
    }
  
    .cover__subtitle {
      font-size: 14px;
      line-height: 114.286%;
      margin-bottom: 16px;
    }
  }
