.header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.logo {
    width: 270px;
    height: 70px;
    padding-top: 34px;
}

@media screen and (max-width: 320px) {
  .header{
    width: 325%;
  }
  
  .logo {
    width: 148px;
    height: 40px;
  }
 }


 @media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header {
    width: 40%;
  }
}
