.lead {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.lead__title {
    width: 793px;
    height: 200px;
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.lead__subtitle {
    width: 720px;
    height: 72px;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 32px auto 64px;
}

.lead__image {
    width: 984px;
    height: 615px;
}

@media screen and (max-width: 320px) {
  .lead {
    width: 99vw;
    padding-top: 50px;
    align-items: flex-start;
  }
  .lead__title {
    width: 99vw;
    height: 176px;
    font-size: 48px;
    line-height: 1.0;
  }

  .lead__subtitle {
    font-size: 16px;
    width: 99vw;
    margin: 0;
  }

  .lead__image {
    width: 99vw;
    height: 200px;
  }
 }

 @media screen and (min-width: 321px) and (max-width: 768px) {
  .lead {
    width: 750px;
      }
      .lead__image {
        height: 480px;
        width: 768px;
      } 
    }

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .lead {
      width: 78.5%;
    }
  }
  