.lead {
    padding-top: 90px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.lead__title {
    width: 793px;
    height: 200px;
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.lead__subtitle {
    width: 720px;
    height: 72px;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 32px auto 64px;
}

.lead__image {
    width: 984px;
    height: 615px;
}