.photo-grid {
    width: 97vw;
    height: auto;
    display: grid;
    margin: 0 0 92px 0;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    grid-gap: 16px;
}

.photo-grid__item {
    width: 18.5vw;
    height: auto;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    margin: 0;
  }

  .photo-grid__item {
    width: 80vw;
  }

}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .photo-grid {
    margin-top: 38px;
    grid-template-columns: repeat(2, auto);
  }

  .photo-grid__item {
    width: 45vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {  
  .photo-grid {
    margin-top: 66px;
  }
}