.places {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

  @media screen and (max-width: 320px){
    .places {
      padding-top: 62px;
    }
  }

  @media screen and (max-width: 1080) {
    .places {
      padding: 24px;
    }
  }