.place {
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.place__header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.place__title {
    width: 30vw;
    height: auto;
    color: white;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
}
.place__artist-author {
    height: auto;
    margin-left: 40px;
}

.place__artist {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #AAAAAA;
}

.place__author {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}
.place__content {
    display: flex;
    flex-direction: row;
}

.place__image-container{
    width: 30vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.place__image {
    width: 30vw;
    height: auto;
}

.place__information {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.place__description {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.place__button {
    width: 25vw;
    height: auto;
    margin-top: 5%;
    padding: 13px 20px 13px 20px;
    border-radius: 4px;
    background-color: #0278FE;
    text-align: center;
}

.place__button-paragraph {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
}

  @media screen and (max-width: 660px){
    .place {
      width: 100vw;
      margin-bottom: 40px;
    }

    .place__header {
      flex-direction: column;
      align-items: flex-start;
      margin: 16px;
    }

    .place__title {
      margin: 0;
      font-size: 32px;
      width: 288px;
      height: 35px;
      line-height: 109.375%;
    }

    .place__artist-author{
      margin: 0;
      width: 288px;
    }

    .place__content{
      flex-direction: column;
    }

    .place__image-container {
      width: 100vw;
    }

    .place__image {
      width: 99vw;
      height: auto;
      margin: 0;
    }

    .place__information {
      margin: 16px;
    }

    .place__paragraph {
      box-sizing: border-box;
      padding: 0 16px;
      width: 100vw;
      margin: 0 auto 16px auto;
    }

    .place__button {
      width: 100vw;
      padding: 13px 12px;
      margin: 0;
    }
  }

  @media screen and (min-width: 661px) and (max-width: 1080px) {
    .place{
      width: 95%;
      margin: 16px;
    }

    .place__title {
      font-size: 100vw;
      line-height: 109.524%;
      width: 50vw;
    }

    .place__image-container {
      width: 50vw;
    }

    .place__image {
      width: 50vw;
    }
  }